<div id="container">
      <div id="content">
             <table>
               <tr>
                 <td width="5%"></td> 
                  <td width="25%" style="text-align: left;">Name</td>
                  <td width="15%" style="text-align: left;">E Code</td>
                  <td width="10%" style="text-align: left;">Age</td>
                  <td width="10%" style="text-align: left;">Salary</td>
                  <td width="25%" style="text-align: left;">Actions              
                  </td>
               </tr>
               <tr *ngFor="let employeesdatas of employeesdata; let i = index">
                  <td width="5%">{{i+1}}</td> 
                  <td width="25%" style="text-align: left;">{{employeesdatas.name}}</td>
                  <td width="15%" style="text-align: left;">{{employeesdatas.employeeCode}}</td>
                  <td width="10%" style="text-align: left;">{{employeesdatas.age}}</td>
                  <td width="10%" style="text-align: left;">{{employeesdatas.salary}}</td>
                  <td width="25%" style="text-align: right;"> 
                        <a (click)="deleteEmployee(employeesdatas.id)" >
                              Delete</a> / <a (click)="editEmployee(employeesdatas.id)" >Edit</a>                        
                  </td>
               </tr>
               <tr><td colspan="6">
                  <button class="button" (click)="redirectToAddEmployee()"><span>Add Employee</span></button>
               </td></tr>
            </table>          
         </div>
</div>
